.mainBody {
  display: flex;
  width: 70%;
  height: 80vh;
  padding: 2vh;
  margin: 8vh auto;
  background-color: white;
  border-radius: 15px;

  .headText {
    display: grid;
    place-items: center;
    height: 8vh;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .toDoDiv {
    display: table;
    width: 33%;
    border-radius: 15px;

    .plusButton {
      position: absolute;
      width: 3%;
      margin-top: -3.5%;
      margin-left: 10.5%;
    }
  }

  & + & {
    margin-left: 0.5%;
  }
}
